<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Badge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item>
    <ion-label>Mensagens recebidas</ion-label>
    <ion-badge color="tertiary">15</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Mensagens apagadas</ion-label>
    <ion-badge slot="start" color="success">15</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Mensagens enviadas</ion-label>
    <ion-badge slot="end" color="danger">15</ion-badge>
  </ion-item> -->
  <ion-item *ngFor="let m of msg">
    <ion-label>{{m.titulo}}</ion-label>
    <ion-badge color="tertiary">{{m.valor}}</ion-badge>
  </ion-item>
</ion-content>