<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      To Do
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-item-sliding *ngFor="let msg of mensagens; let i=index">
      <ion-item>
        <ion-label>{{msg.mensagem}}</ion-label>
        <ion-icon name="pricetag" slot="start"></ion-icon>
      </ion-item>
  
      <ion-item-options>
        <ion-item-option color="tertiary" (click)="editar(i)" ><ion-icon name="pencil"></ion-icon></ion-item-option>
        <ion-item-option color="danger" (click)="apagar(i)"><ion-icon name="trash"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="adicionarTarefa()">
      <ion-icon name="add">

      </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>