<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      To Do
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar animated="true"  color="light" [(ngModel)]="searchBar" (keydown)="filtrar($event)" (ionClear)="limpar()"></ion-searchbar>

  <p *ngIf="mensagens.length == 0" >Sem tarefas...</p>

    <ion-item-sliding *ngFor="let msg of mensagens">
      <ion-item>
        <ion-label *ngIf="msg.done == true"><del>{{msg.mensagem}}</del></ion-label>
        <ion-label *ngIf="msg.done == false">{{msg.mensagem}}</ion-label>
        <ion-icon name="radio-button-off" slot="start" *ngIf="msg.done == false" ></ion-icon>
        <ion-icon name="radio-button-on" color="success" slot="start" *ngIf="msg.done == true"></ion-icon>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="success" (click)="completar(msg)" ><ion-icon name="checkmark-outline"></ion-icon></ion-item-option>
      </ion-item-options>

      <ion-item-options>
        <ion-item-option color="tertiary" (click)="editar(msg)" ><ion-icon name="pencil"></ion-icon></ion-item-option>
        <ion-item-option color="danger" (click)="apagar(msg)"><ion-icon name="trash"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="adicionarTarefa()">
      <ion-icon name="add">

      </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>